body {
  margin: 0px;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(223, 235, 239);
}

.rainforest {
  width: 800px;
  height: 1000px;
}

.header {
  font-size: 26px;
  font-weight: bolder;
  height: 40%;
  background-color: #ebeaf0;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.form {
  height: 30%;
  background-color: white;
}

.footer {
  height: 40%;
  background-color: rgb(235, 234, 240);
}

.text1 {
  margin-left: 100px;
  margin-bottom: 30px;
  font-weight: 550;
  width: 60%;
}

.text2 {
  margin-left: 100px;
  font: 550;
  width: 70%;
  margin-bottom: 50px;
}

.submit-button {
  font-size: 16px;
  font-weight: bold;
  margin-left: 110px;
  margin-top: 40px;
  width: 250px;
  height: 50px;
  border-radius: 6px;
  background-color: darkgreen;
  color: white ;
}

.green-text {
  color: green;
  font-weight: bold;
}

.account-text {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 110px;
}

#letsdothis {
  margin-left: 100px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 550;
}

.column-format {
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
  gap: 30px;
}

.column1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

input {
  height: 25px;
}

.column1 div {
  display: flex;
  flex-direction: column;
}

.column2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  gap: 10px;
}

.column2 div {
  display: flex;
  flex-direction: column;
}